<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About Page</title>
</head>

<body>
    {{> header}}
    <p>Some text here !!</p>
    <hr />
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, eaque! Quis quaerat laudantium, explicabo reprehenderit voluptate commodi optio magni laborum. Magnam maiores qui modi eius, dolores non voluptatum, accusamus minima.</p>
    <hr />
    <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, optio, debitis. Suscipit doloribus, unde autem, quas hic eligendi. Velit ducimus dolore officiis, ipsam, rerum nobis repudiandae laborum maiores voluptatem possimus.</span><span>A, vero expedita ipsa laborum magnam maxime tempore, sint ut hic repellat nemo dolorem! Impedit corporis harum doloremque accusantium, reprehenderit commodi expedita earum natus, ullam excepturi aspernatur fugit sequi velit.</span></p>
    <hr />
    {{> footer}}
</body>

</html>