<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Project Page</title>
</head>

<body>
    {{> header}}
    <p>project page text would go here</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, eaque! Quis quaerat laudantium, explicabo reprehenderit voluptate commodi optio magni laborum. Magnam maiores qui modi eius, dolores non voluptatum, accusamus minima.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et assumenda vel dolor eveniet nam dolore porro obcaecati nihil laudantium. Aperiam neque cum, eos mollitia quas culpa ex reprehenderit officiis voluptates!</p>

    {{> footer}}
</body>

</html>